body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.float-right {
    float: right;
}

.txtbxReq {
    border: 1px solid #e60000;
}

.cmtDiv {
    margin: -8px 0px 0px -56px;
}

.list-group-item:hover {
    background-color: aliceblue;
}

.mrgRight5 {
    margin-right: 5px;
}